HELP.md
/apps/backend/target/
/apps/backend/.mvn/wrapper/maven-wrapper.jar
/apps/backend/!**/src/main/**/target/
/apps/backend/!**/src/test/**/target/

### STS ###
/apps/backend/.apt_generated
/apps/backend/.classpath
/apps/backend/.factorypath
/apps/backend/.project
/apps/backend/.settings
/apps/backend/.springBeans
/apps/backend/.sts4-cache

### IntelliJ IDEA ###
.idea
/apps/backend/*.iws
/apps/backend/*.iml
/apps/backend/*.ipr

### NetBeans ###
/apps/backend/nbproject/private/
/apps/backend/nbbuild/
/apps/backend/dist/
/apps/backend/nbdist/
/apps/backend/.nb-gradle/
/apps/backend/build/
/apps/backend/!**/src/main/**/build/
/apps/backend/!**/src/test/**/build/

### VS Code ###
/apps/backend/.vscode/
